:root {
    /* buttons */
    --fc-classic-button: #334155;
    --fc-classic-button-border: #334155;
    --fc-classic-button-strong: #1e293b;
    --fc-classic-button-strong-border: #0f172a;
    --fc-classic-button-outline: #47556980;
    --fc-classic-button-foreground: #fff;

    /* primary */
    --fc-classic-primary: #3788d8;
    --fc-classic-primary-foreground: #fff;

    /* calendar content */
    --fc-classic-event: var(--fc-classic-primary);
    --fc-classic-event-contrast: var(--fc-classic-primary-foreground);
    --fc-classic-background-event: #22c55e;
    --fc-classic-background-event-opacity: 15%;
    --fc-classic-background-event-foreground-opacity: 50%;
    --fc-classic-highlight: #cffafe66;
    --fc-classic-today: #facc1526;
    --fc-classic-now: #ef4444;
    /* non-colors */
    --fc-classic-small-dot-width: 8px;
    --fc-classic-large-dot-width: 10px;

    /* neutral backgrounds */
    --fc-classic-background: #333;
    --fc-classic-faint: #ffffff0a;
    --fc-classic-muted: #ffffff14;
    --fc-classic-strong: #ffffff24;

    /* neutral foregrounds */
    --fc-classic-foreground: #eee;
    --fc-classic-faint-foreground: #222;
    --fc-classic-muted-foreground: #111;

    /* neutral borders */
    --fc-classic-border: #ddd;
    --fc-classic-strong-border: #9ca3af;
}

body {
    width: 95vw;
}

#calendar {
    margin-top: 2rem;

    .event {
        overflow: scroll;

        h2 {
            font-size: 1.5rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            margin: 0;
            border-bottom: 1px #eee dashed;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
        }

        p:last-of-type {
            border-bottom: none;
        }
    }
}
