:root {
    --tippy-background: #030712;
    --tippy-border: #2a2a2a;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--tippy-background);
}

#icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: calc(100dvw - 3rem);
    padding: 1.5rem;
    height: 3rem;
    z-index: 1;

    a {
        transition: transform 2s linear;
    }

    svg {
        height: 100%;
        cursor: pointer;
    }
}

#calendar {
    user-select: none;

    .toolbar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        > :first-child {
            grid-column: 1/-1;
            margin: 0 auto;
        }

        > :last-child {
            margin-left: auto;
        }
    }
}

.cal-event {
    cursor: pointer;

    .event-title {
        font-weight: bold;
    }

    .event-location {
        margin: 0;
        font-size: 1rem;
        position: sticky;
        top: 2em;
        text-wrap: nowrap;
        overflow: hidden;
    }
}

.event-open {
    filter: blur(10px) brightness(0.5);
}

.event-close-btn {
    width: 100%;
    background-color: red;
    margin: 2rem 0 1rem 0;
    border-radius: 1rem;
    border: none;
    line-height: 3rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        background-color: darkred;
    }
}

#tippy-container {
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-tippy-root]:has(div.tippy-box[data-theme~="custom"]) {
    transform: unset !important;
    position: unset !important;
    transform: unset !important;
}

.tippy-box[data-theme~="custom"] {
    width: min(600px, 90dvw) !important;
    background-color: var(--tippy-background);
    border: 2px solid var(--tippy-border);
    padding: 0 1rem;

    h3 {
        font-weight: 600;
    }

    p.time {
        text-align: center;
        color: #b3b5b8;
    }

    .event-detail-group {
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 1rem;
        padding: 1rem 0;

        p {
            margin: 0;
        }
    }
}
.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow:before {
    border-top-color: var(--tippy-background);
}
.tippy-box[data-theme~="custom"][data-placement^="bottom"]
    > .tippy-arrow:before {
    border-bottom-color: var(--tippy-background);
}
.tippy-box[data-theme~="custom"][data-placement^="left"] > .tippy-arrow:before {
    border-left-color: var(--tippy-background);
}
.tippy-box[data-theme~="custom"][data-placement^="right"]
    > .tippy-arrow:before {
    border-right-color: var(--tippy-background);
}
.tippy-box[data-theme~="custom"] > .tippy-backdrop {
    background-color: var(--tippy-background);
}
.tippy-box[data-theme~="custom"] > .tippy-svg-arrow {
    fill: var(--tippy-background);
}
