.class-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.class-list > div {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 0.3rem grey solid;
    border-radius: 10rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: scale 0.1s ease-out;
    cursor: pointer;

    span {
        color: grey;
    }

    .action-buttons {
        display: none;
        gap: 1rem;
    }

    &:hover {
        scale: 1.1;
        box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    }
}

#find {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    flex-wrap: wrap;

    input {
        background-color: grey;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        color: #eee;
        width: 25rem;
        max-width: 50%;
    }

    > div.group {
        display: flex;
        justify-content: center;
    }

    button {
        background-color: #eee;
        border-radius: 1rem;
        padding: 0.5rem 1rem;

        &:hover {
            cursor: pointer;
            scale: 1.1;

            &:active {
                scale: 1;
            }
        }
    }
}

.info-text {
    color: grey;
    text-align: center;
}
